.bodyCard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cardContainer {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    position: relative;
    justify-content: space-between;
    max-width: 1200px;
}

.cardStandart, .cardPremium, .cardExclusive {
    margin-top: 7.8%;
    width: 90%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;
}

.cardStandart {
    border: 2px solid #d59124;
    -webkit-box-shadow: 10px 1px 71px -11px rgba(213, 145, 36, 0.86);
    -moz-box-shadow: 10px 1px 71px -11px rgba(213, 145, 36, 0.86);
    box-shadow: 10px 1px 71px -11px rgba(213, 145, 36, 0.86);
}

.cardPremium {
    border: 2px solid #df5d31;
    -webkit-box-shadow: 10px 1px 71px -11px rgba(223, 93, 49, 0.86);
    -moz-box-shadow: 10px 1px 71px -11px rgba(223, 93, 49, 0.86);
    box-shadow: 10px 1px 71px -11px rgba(223, 93, 49, 0.86);
}

.cardExclusive {
    border: 2px solid #dc1d1d;
    -webkit-box-shadow: 10px 1px 71px -11px rgba(220, 29, 29, 0.86);
    -moz-box-shadow: 10px 1px 71px -11px rgba(220, 29, 29, 0.86);
    box-shadow: 10px 1px 71px -11px rgba(220, 29, 29, 0.86);
}

.cardStandart:hover {
    box-shadow: 0px 5px 75px 12px #fdbd4e;
    color: white;
}

.cardPremium:hover {
    box-shadow: 0px 5px 75px 12px #ff4000;
    color: white;
}

.cardExclusive:hover {
    box-shadow: 0px 5px 75px 12px #ff0000;
    color: white;
}

.nameCard {
    margin: auto;
    margin-top: 15%;
    width: fit-content;
    text-align: center;
}

.priceCard {
    margin: auto;
    margin-bottom: 8%;
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
}

.textCardContainer {
    margin-left: 5%;
    margin-bottom: 5%;
    width: fit-content;
    text-align: left;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.85%;
    margin-bottom: 4%;
}

.textContainerPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Atma", serif;
    font-size: 36px;
    margin-top: -1.8%;
    margin-bottom: 5%;
    text-align: center;
}

.exploreContainer {
    margin: auto;
    margin-top: 20%;
    margin-bottom: 5%;
    text-align: center;
}

.ultra48 {
    color: white;
    font-family: "Ultra", serif;
    font-size: 48px;
}
